{% extends "base.html" %}

{% block title %}Dashboard - FitSync{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<h2>Today's Activities</h2>
<ul>
    {% for activity in today_activities %}
    <li>
        <strong>{{ activity.type }}</strong> - {{ activity.distance }} km on {{ activity.date.strftime('%Y-%m-%d') }}
        <br>
        {% if activity.note %}
        <em>Note: {{ activity.note }}</em>
        {% else %}
        <em>No notes added.</em>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<h2>Past Activities</h2>
<ul>
    {% for activity in past_activities %}
    <li>
        <strong>{{ activity.type }}</strong> - {{ activity.distance }} km on {{ activity.date.strftime('%Y-%m-%d') }}
        <br>
        {% if activity.note %}
        <em>Note: {{ activity.note }}</em>
        {% else %}
        <em>No notes added.</em>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
