<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - FitSync</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        Your Activities
    </header>

    <div class="container">
        <div class="dashboard">
            <div class="activity-container">
                <!-- Loop through the activities dynamically -->
                <div class="today-activities">
                    <h2>Today's Activities</h2>
                    
                    <div class="activity-container">
                        {% if today_activities %}
                            {% for activity in today_activities %}
                                <div class="activity">
                                    <h3>{{ activity.type | capitalize }} - {{ activity.distance }} km</h3>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No activities for today.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="button-container">
                    <a href="/add-activity" class="button">Add Activity</a>
                    <a href="/" class="button">Back to Home</a>
                </div>
                <div class="past-activities">
                    <h2>Past Activities</h2>
                    <div class="activity-container">
                        {% if past_activities %}
                            {% for activity in past_activities %}
                                <div class="activity">
                                    <h3>{{ activity.type | capitalize }} - {{ activity.distance }} km</h3>
                                    <p>Date: {{ activity.date.strftime('%Y-%m-%d') }} (EST)</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No past activities.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

       
        </div>
    </div>

    <footer>
        &copy; 2024 FitSync. All rights reserved.
    </footer>
</body>

</html>