<!-- templates/forgot_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - FitSync</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        Forgot Password
    </header>

    <div class="container">
        <div class="form-container">
            <p>Please enter your email address</p>
            <form method="POST">
                <label for="email">Email address</label>
                <input type="text" name="email" required placeholder="Enter your email">

                <button type="submit">Send Reset Link</button>
            </form>
        </div>

        <div class="button-container">
            <a href="/login" class="button">Back to Login</a>
        </div>
    </div>

    <footer>
        &copy; 2024 FitSync. All rights reserved.
    </footer>
</body>
<footer class="text-center mt-5">
    <p>
        Need help? Download the <a href="{{ url_for('static', filename='FitSync_User_Guide.pdf') }}" target="_blank">FitSync User Guide (PDF)</a>.
    </p>
</footer>

</html>